<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Base de Datos de Activos Adjudicados en España (BAE)</title>
    
    <!-- Tailwind CSS Link -->
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">

    <!-- Fontawesome Link -->
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
 
  </head>
  <body class="bg-white-200">
    <nav class="bg-red-600 text-white px-4 py-5">
      <div class="max-w-7xl mx-auto">
        <div class="flex flex-col md:flex-row justify-between items-center">
          <a href="/">
          <div class="text-2xl font-bold mb-4 md:mb-0">
            Base de Datos de Activos Adjudicados en España (BAE)
          </div>
          </a>

          <ul class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4">
            {{#if name}}
            

            <li class="nav-item">
              <a href="/logout" class="nav-link font-semibold border-2 border-white hover:bg-white hover:text-green-700 py-2
                px-4 rounded-md">Logout</a>
            </li>

            {{else}}
            <li class="nav-item">
              <a href="/login" class="nav-link font-semibold border-2 border-white hover:bg-white hover:text-green-700 py-2
                px-4 rounded-md">Login</a>
            </li>

            {{!-- <li class="nav-item">
              <a href="/register" class="nav-link font-semibold border-2 border-white hover:bg-white hover:text-green-700 py-2
                px-4 rounded-md">Register</a>
            </li> --}}
            {{/if}}


                        <!-- Añade este código dentro de la etiqueta <ul> en la barra de navegación -->
            {{!-- <li>
              <button id="theme-toggle" class="focus:outline-none">
                <i class="fas fa-moon"></i>
              </button>
            </li> --}}

          </ul>
        </div>
      </div>
    </nav>

    {{{body}}}

    {{!-- <style>
      .dark-theme {
        background-color: #1a202c;
        color: #f7fafc;
      }

      .dark-theme .bg-red-500 {
        background-color: #c53030;
      }

      .dark-theme .text-green-600 {
        color: #48bb78;
      }

    </style>

    <script>
      const themeToggleButton = document.getElementById('theme-toggle');
      const body = document.body;

      themeToggleButton.addEventListener('click', () => {
        body.classList.toggle('dark-theme');
      });
    </script> --}}


  </body>
</html>